Include/
Lib/
Scripts/
share/

ARTICLE_images_plots_not_on_git/
Hybrid_results_not_on_git/
ARTICLE_trained_mls_data/

ARTICLE_hybrid_results_treatment.ipynb
ARTICLE_post_treatment_codes.ipynb

*.ipynb
*.cfg
*.pyc
*.svg
*.mat
*.npy
*.png
*.eps